<h1>AdminsBackoffice::Questions#index</h1>
<p>Find me in app/views/admins_backoffice/questions/index.html.erb</p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th><%= translate_attribute(@questions, :subject) %></th>
        <th><%= translate_attribute(@questions, :description) %></th>
        <th>
          <%= link_to new_admins_backoffice_question_path, class:"btn btn-success btn-circle" do %>
            <i class="fa fa-plus"></i>
          <% end %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td> <%= question.id %> </td>
          <td> <%= question.subject.description %> </td>
          <td> <%= question.description %> </td>
          <td style="width: 100px">
            <%= link_to edit_admins_backoffice_question_path(question), class:"btn btn-primary btn-circle" do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <%= link_to admins_backoffice_question_path(question), method: :delete,
            class:"btn btn-danger btn-circle", data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-minus "></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @questions %>

</div>