<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Site::Welcome#index</h1>
  <h2>Find me in app/views/site/welcome/index.html.erb</h2>

  <% unless params[:question] %>
    <p> Last created questions</p>
  <% else %>
    <p><%= "Results for \"#{params[:question]}\":" %></p>
  <% end %>

  <% if false %>
    <% if admin_signed_in? %>
    <p>Admin is logged in - <%= current_admin.email %></p>
    <% else %>
    <p>Admin is not logged in</p>
    <% end %>

    <% if user_signed_in? %>
    <p>User is logged in - <%= current_user.email %></p>
    <% else %>
    <p>User is not logged in</p>
    <% end %>
  <% end %>
</div>

<% @questions.each do |question| %>
  <%= form_with url: site_answer_path do |form| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= question.description %></h3>
      </div>
      <div class="panel-body">
        <ul>
          <% question.answers.each do |answer| %>
            <li style="list-style:none">
              <div class="radio">
                <label>
                  <%= radio_button_tag 'answer_id', answer.id %>
                  <%= answer.description %>
                </label>
              </div>
            </li>
          <% end %>
          <li style="list-style:none">
            <%= form.submit "Submit", class:"btn btn-default", id:"btn-submit-#{question.id}" %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<div class="text-center">
  <%= paginate @questions %>
</div>
